.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 500px) {
  .App {
    text-align: center;
    width: 100vw;
    height: auto;
    display: inline-block;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
